.ssh-watchdog-indicator-box {
  margin: 0;
  padding: 0 8px;
  spacing: 4px;
}

.ssh-watchdog-label {
  margin: 0;
  padding: 0;
  opacity: 1.0;
}

.ssh-watchdog-icon {
  margin: 0;
  padding: 0;
}

.ssh-watchdog-menu {
  padding: 10px 12px;
}

.ssh-watchdog-header-item {
  background-color: transparent;
}

.ssh-watchdog-header-label {
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0.7;
}

.ssh-watchdog-session-item {
  background-color: transparent;
}

.ssh-ip-label {
  font-family: monospace;
  font-size: 14px;
  margin-left: 12px;
  opacity: 1.0;
}

.ssh-ip-label.dim-label {
  opacity: 0.7;
}
